colorama==0.4.1
colorlog==4.0.2
cufflinks==0.16
dash==1.1.1
dash-core-components==1.1.1
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.1.0
Flask==2.3.2
Flask-Compress==1.4.0
numpy==1.16.4
pandas==0.24.2
pdfminer.six==20181108
plotly==3.10.0
